nav {
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);

   .mi-logo {
      filter: invert(100%);
   }

   .mi-logo:hover {
      border-radius: 20px;
  }
   .sub-menu{
      background-color: black;
      color: white;
   }

}





/*fin de cambios en los logos */